.live-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}
.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(26, 56, 172);
}

.live-header-title {
    display: flex;
    justify-content: left;
    align-items: center;
    
    padding-left: 20px;
    border: #000 1px solid;

}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    height: 100%;

}

.live-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 12vw);
    height: 50vh;
    border: 1px solid #000;
}

.start-button, .stop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: rgb(162, 171, 203);

}

.pulse-oximeter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background-color: rgb(47, 74, 183);
}

.pulse-container, .oximeter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: rgb(34, 213, 34);
    border: #000 1px solid;
}

.pulse-title, .oximeter-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 0;
    background-color: rgb(34, 213, 34);
    border: #000 1px solid;
}

.pulse-value, .oximeter-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    font-size: 45px;
    background-color: rgb(34, 213, 34);
    border: #000 1px solid;
}

.live-graph-container {
    display: flex;
    height: 50vh;
    background-color: grey;
    width: 70vw;
}

.live-graph {
    width: 100%;
}

.live-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    border: #000 1px solid;
}

.calories-container, .steps-container, .distance-container, .active-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: rgb(47, 74, 183);
    border: #000 1px solid;
}

.calories-title, .steps-title, .distance-title, .active-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 0;
    background-color: rgb(72, 76, 94);
    border: #000 1px solid;
}

.calories-value, .steps-value, .distance-value, .active-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    height: 80%;
    width: 100%;
    background-color: rgb(72, 76, 94);
    border: #000 1px solid;
}